Macfa/Web References/MagfaSms/MagfaSoapServer.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns1="webservice.magfa.com" xmlns:ns2="http://jaxb.dev.java.net/array" name="MagfaSoapServer" targetNamespace="webservice.magfa.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema xmlns:tns="webservice.magfa.com" targetNamespace="webservice.magfa.com" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:complexType name="messagesResult">
        <xs:sequence>
          <xs:element name="status" type="xs:int" />
          <xs:element maxOccurs="unbounded" name="messages" type="tns:datedCustomerReturnIncomingFormat" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="datedCustomerReturnIncomingFormat">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:customerReturnIncomingFormat">
            <xs:sequence>
              <xs:element name="date" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="customerReturnIncomingFormat">
        <xs:sequence>
          <xs:element name="body" type="xs:string" />
          <xs:element name="senderNumber" type="xs:string" />
          <xs:element name="recipientNumber" type="xs:string" />
          <xs:element name="errorResult" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="messageIdResult">
        <xs:sequence>
          <xs:element name="status" type="xs:int" />
          <xs:element name="mid" type="xs:long" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="deliveryResult">
        <xs:sequence>
          <xs:element name="status" type="xs:int" />
          <xs:element maxOccurs="unbounded" name="dlrs" type="tns:deliveryStatus" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="deliveryStatus">
        <xs:sequence>
          <xs:element name="mid" type="xs:long" />
          <xs:element name="status" type="xs:int" />
          <xs:element name="date" type="xs:string" />
          <xs:element minOccurs="0" name="smsc" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="sendResult">
        <xs:sequence>
          <xs:element name="status" type="xs:int" />
          <xs:element maxOccurs="unbounded" name="messages" type="tns:sendMessage" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="sendMessage">
        <xs:sequence>
          <xs:element minOccurs="0" name="alphabet" type="xs:string" />
          <xs:element name="id" type="xs:long" />
          <xs:element name="parts" type="xs:int" />
          <xs:element minOccurs="0" name="recipient" type="xs:string" />
          <xs:element name="status" type="xs:int" />
          <xs:element name="tariff" type="xs:double" />
          <xs:element name="userId" type="xs:long" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="creditResult">
        <xs:sequence>
          <xs:element name="status" type="xs:int" />
          <xs:element name="balance" type="xs:decimal" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema targetNamespace="http://jaxb.dev.java.net/array" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:complexType name="longArray" final="#all">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="item" nillable="true" type="xs:long" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="stringArray" final="#all">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="item" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="intArray" final="#all">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="item" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="statusesResponse">
    <wsdl:part name="return" type="ns1:deliveryResult" />
  </wsdl:message>
  <wsdl:message name="balanceResponse">
    <wsdl:part name="return" type="ns1:creditResult" />
  </wsdl:message>
  <wsdl:message name="midResponse">
    <wsdl:part name="return" type="ns1:messageIdResult" />
  </wsdl:message>
  <wsdl:message name="balance" />
  <wsdl:message name="messagesResponse">
    <wsdl:part name="return" type="ns1:messagesResult" />
  </wsdl:message>
  <wsdl:message name="sendResponse">
    <wsdl:part name="return" type="ns1:sendResult" />
  </wsdl:message>
  <wsdl:message name="messages">
    <wsdl:part name="count" type="xsd:int" />
    <wsdl:part name="shortNumber" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="mid">
    <wsdl:part name="uid" type="xsd:long" />
  </wsdl:message>
  <wsdl:message name="statuses">
    <wsdl:part name="mids" type="ns2:longArray" />
  </wsdl:message>
  <wsdl:message name="send">
    <wsdl:part name="messages" type="ns2:stringArray" />
    <wsdl:part name="senders" type="ns2:stringArray" />
    <wsdl:part name="recipients" type="ns2:stringArray" />
    <wsdl:part name="uids" type="ns2:longArray" />
    <wsdl:part name="encodings" type="ns2:intArray" />
    <wsdl:part name="udhs" type="ns2:stringArray" />
    <wsdl:part name="priorities" type="ns2:intArray" />
  </wsdl:message>
  <wsdl:portType name="MagfaSoapServer">
    <wsdl:documentation>Magfa SOAP Server documentation</wsdl:documentation>
    <wsdl:operation name="messages">
      <wsdl:documentation>Get new incoming messages, or of a short number if specified)</wsdl:documentation>
      <wsdl:input name="messages" message="ns1:messages" />
      <wsdl:output name="messagesResponse" message="ns1:messagesResponse" />
    </wsdl:operation>
    <wsdl:operation name="mid">
      <wsdl:documentation>Get message-id of a user-id</wsdl:documentation>
      <wsdl:input name="mid" message="ns1:mid" />
      <wsdl:output name="midResponse" message="ns1:midResponse" />
    </wsdl:operation>
    <wsdl:operation name="statuses">
      <wsdl:documentation>Get message status (returns detailed status)</wsdl:documentation>
      <wsdl:input name="statuses" message="ns1:statuses" />
      <wsdl:output name="statusesResponse" message="ns1:statusesResponse" />
    </wsdl:operation>
    <wsdl:operation name="send">
      <wsdl:documentation>Send message</wsdl:documentation>
      <wsdl:input name="send" message="ns1:send" />
      <wsdl:output name="sendResponse" message="ns1:sendResponse" />
    </wsdl:operation>
    <wsdl:operation name="balance">
      <wsdl:documentation>Get account balance</wsdl:documentation>
      <wsdl:input name="balance" message="ns1:balance" />
      <wsdl:output name="balanceResponse" message="ns1:balanceResponse" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>